@import "./utils.scss";

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

body {
  background: darkgray;
}

@mixin border-radius($corners: "") {
  @if (type_of($corners) == string) {
    border-radius: 4px;
  } @else {
    $corners: quote($corners);
    @if (includes($corners, "top-right")) {
      border-top-right-radius: 4px;
    }
    @if (includes($corners, "top-left")) {
      border-top-left-radius: 4px;
    }
    @if (includes($corners, "bottom-right")) {
      border-bottom-right-radius: 4px;
    }
    @if (includes($corners, "bottom-left")) {
      border-bottom-left-radius: 4px;
    }
  }
}

.card {
  background: #fff;
  @include border-radius;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;

  &.-hoverable:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  &.-level-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  &.-level-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  &.-level-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  &.-level-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  &.-level-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}

@mixin skew($degrees) {
  @include transform(rotate($degrees * 1deg) skew($degrees * 1deg, 0));
}

.skew-5 {
  @include skew(-5);
}

.skew-10 {
  @include skew(-10);
}

.skew-15 {
  @include skew(-15);
}

.skew-20 {
  @include skew(-20);
}

.skew-25 {
  @include skew(-25);
}

$borderColor: #151515;
.x {
  display: block;
  position: fixed;
  width: 32px;
  height: 32px;
  @include center();
  transition: transform .4s ease, border .4s ease;

  &:hover {
    @include center(rotate(180deg));

    &:before {
      border-top: 3px solid $borderColor;
    }

    &:after {
      border-top: 3px solid $borderColor;
    }
  }

  &:before {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    height: 0;
    border-top: 1.5px solid $borderColor;
    transform: rotate(45deg);
    transform-origin: center;
  }

  &:after {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    height: 0;
    border-top: 1.5px solid $borderColor;
    transform: rotate(-45deg);
    transform-origin: center;
  }
}
