@mixin transition($x...) {
  -moz-transition: $x;
  -webkit-transition: $x;
  transition: $x;
}

@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation: $animations;
  animation: $animations;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  @include translate(0, -50%);
}

@mixin horizontal-align($position: relative) {
  position: $position;
  left: 50%;
  @include translate(-50%, 0);
}


@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@function includes($str, $substr) {
  @if (str-index($str, $substr)) {
    @return true;
  }

  @return false;
}

/**
 * TRANSFORMS
 */

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin center($transforms: "") {
  position: absolute;
  left: 50%;
  top: 50%;

  @if type_of($transforms) == string {
    @include transform(translate(-50%, -50%) unquote($transforms));
  } @else {
    @include transform(translate(-50%, -50%) $transforms);
  }

}

@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin scale($scale) {
  @include transform(scale($scale));
}

@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

@mixin skew($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

@mixin transform-origin($origin) {
  moz-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

@mixin transform-style-preserve-3d() {
  moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@mixin backface-visibility($arg) {
  -webkit-backface-visibility: $arg;
  -moz-backface-visibility: $arg;
  -ms-backface-visibility: $arg;
  backface-visibility: $arg;
}

/**
 * Media queries
 */

@import "../../node_modules/include-media/dist/_include-media.scss";
